[Unit]
Description=ANT+ foot pod broadcaster
After=walkingpad-ble@%i.service
Requires=walkingpad-ble@%i.service

[Service]
User=%i
WorkingDirectory=%h/pad2pod
ExecStart=%h/pad2pod/.venv/bin/python antplus-footpod.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
